/* 说说时间阴影 */
.xk-card-time {
    text-shadow: none !important;
}

/* 说说卡片 */
.xk-card {
    box-shadow: 0 3px 3px 3px rgb(7 17 27 / 6%) !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

/* 更多说说 */
button[data-v-b9fd4424] {
    background: rgb(122, 144, 194) !important;
}

/* 段落样式 */
.markdown-body {
    line-height: 2 !important;
}

.markdown-body p {
    margin-bottom: 2em !important;
    text-align: justify;
}

/* 面板阴影 */
#board {
    box-shadow: none !important;
}

/* 首页悬浮动画效果 */
.index-card:hover .index-img img {
    transition: 0.3s;
    transform: scale(1.1);
}

.index-card:hover .index-info {
    transition: 0.3s;
    transform: translateX(20px) translateY(0);
}

.index-img img {
    transition: 0.3s;
}

.index-info {
    transition: 0.3s;
}

@media (max-width: 767px) {
    .index-card:hover .index-img img {
        transform: none !important;
    }
    .index-card:hover .index-info {
        transform: none !important;
    }
}

#banner {
    background-image: none !important;
}

#banner .mask {
    background-color: transparent !important;
}

#web-bg-light {
    position: fixed;
    z-index: -999;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://cdn.zengjunyin.com/background_light.jpg");
}

#web-bg-dark {
    position: fixed;
    z-index: -888;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://cdn.zengjunyin.com/background_dark.jpg");
    transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in;
}

.bg-dark {
    opacity: 1;
}

.bg-light {
    opacity: 0;
}